@import 'tab-bar.css';
@import 'my-tasks.css';
@import 'inspect.css';
@import 'assign.css';
@import 'reports.css';
@import 'task-card-mini.css';
@import 'employee-card-mini.css';
.root {
  height: 100vh;
}

body {
  margin: 0;
  box-sizing: border-box;
}
