.my-tasks{
    min-width: 100%;
    min-height: 95%;
    display: flex;
    
}

.my-tasks-overview{
    margin-right: 2px;
    border-radius: 10px;
    width: 20%;
    background-color: red;
}

.my-tasks-item_detail{
    margin-right: 2px;
    border-radius: 10px;
    width: 50%;
    background-color: gray;
}

.my-tasks-related_info{
    border-radius: 10px;
    width: 30%;
    background-color: green;
}


